.top
	&--home
		background-image url('../img/img-portada-mobile.jpg')
		background-size 100%
		background-repeat no-repeat
		background-position top
		padding 22em 1.2em 3em
		+above(690px)
			background-image url('../img/img-portada.jpg')
			padding-top 11em
		+above(900px)
			padding 22em 5% 3em
		+above(1220px)
			padding-bottom 18em
		
		+above(1350px)
			min-height 90vh
			background-size cover
			
.express
	relative top left
	z-index 1
	&--form
		background $blanco
		padding 1.4em 2.4em 2.4em
		border-left 8px solid $naranja
		text-align right
		box-shadow 0 2px 4px rgba($negro, .36)
	
	+above(690px)
		.select
			alinear(middle)
			width 45%
			margin-right 5%
			&:nth-child(2)
				margin-right 0
	
	+above(767px)
		&--form
			padding 1.4em
		.select
			width 35%
			margin-bottom 0
		.btn-send
			padding 0 3% 15px
	
	+above(900px)
		&--form
			width 66%
			margin-left 35%
		.btn-send
			padding 0 3%
	
	+above(1220px)
		&--form
			width 50%
			margin-left 50%

.home
	&--video
		relative top left
		z-index 1
		padding 3.5em 1.2em 5em
		color $blanco
		image: '../img/bg-video-mobile.jpg' 100%
		background-size 100%
		background-repeat no-repeat
		background-position top
		.subtitle
			text-align left
		.txts
			text-align justify
			max-width 513px
		.viewvideo
			display block
			margin 3.6em auto
			img
				width 60px
			span
				color $blanco
				font-size 1.2em
				text-align center
				font-weight 600
				display block
				margin-top 0.5em
		
	&--services
		relative top left
		z-index 1
		padding 7.1em 1.2em 2.5em
		image: '../img/bg-servicios-mobile.jpg' 100%
		background-size 100%
		background-repeat no-repeat
		background-position top
		background-color $blanco
	
	&--benefits
		relative top left
		z-index 1
		padding 3em 1.2em
		background-color $blanco
		.subtitle
			padding-bottom 1.4em
			border-bottom 2px solid $grisCl
	
	&--contact
		padding 3.5em 1.2em
		.subtitle
			span
				display block
		p
			font-size 1.4em
			text-align center
			margin-bottom 1em
			line-height 1.3em
	
	+above(690px)
		&--video
			image: '../img/bg-video.jpg' 100%
			div
				alinear(middle)
				width 49.4%
		&--services
			background-image url('../img/bg-servicios.jpg')
			padding-bottom 8em
			>.subtitle
				margin-bottom 3em
	
	+above(767px)
		&--video
			padding 8%
		
		&--contact
			.btn-link
				display none
			
			.btn-send
				float right
				padding-top 1em
			.subtitle
				span
					display inline
	
	+above(1000px)
		&--services
			&__container
				max-width 1040px
				margin 0 auto
		
		&--contact
			padding-bottom 10em
			
	+above(1220px)
		&--video
			.viewvideo
				efecto(.35s)
				img
					width 118px
				span
					font-size 1.6em
				&:hover
					transform scale(1.2)	
		
		&--services
			padding-bottom 14em
			
.service
	background-color $blanco
	padding 1.6em
	margin-bottom 2.4em
	box-shadow 0 0px 8px rgba($negro, .3)
	.subtitle
		text-align left
	&--foto
		display none
	
	+above(690px)
		alinear(top)
		width 45%
		margin 0 2% 2.5em
	+above(767px)
		padding 1.6em 4.3em
		&--foto
			display block
			relative top left -43px
			width calc(100% + 86px)
			margin 1.2em 0
			img
				width 100%
		
		&__mudanzas
			transform translateY(30%)
	
	+above(1220px)
		&__mudanzas
			transform translateY(43%)
		.txts
			font-size 1.6em

.benefits
	relative top left
	&--icon
		alinear(middle)
		width 49%
		text-align center
		margin-bottom 3.4em
		figure
			redondo(90px)
			alinear(middle)
			relative top left
			margin-bottom 1.4em
			img
				height 55%
				absolute top 50% left 50%
				transform translate(-50%, -50%)
		span
			display block
			font-size 1.8em
			text-align center
		&__security
			background-color $naranja
		&__confort
			background-color $naranjaAlt
		&__clean
			background-color $morado
		&__access
			background-color $moradoAlt
	
	+above(690px)
		text-align center
		&--icon
			width 24.6%
	
	+above(1000px)
		max-width 1040px
		margin auto
		padding 5em 0 0
		&--icon
			figure
				redondo(140px)

.contactform
	display none
	+above(767px)
		display block
		width 100%
		max-width 900px
		margin 0 auto