//Consola:
// stylus -w -c -u nib -u rupture -u jeet master.styl -o ../css

@import 'nib'
@import 'rupture'
@import 'jeet'

global-reset()

// Mixins
efecto(duracion)
	{transition} all duracion ease-in

alinear(posicion)
	{display} inline-block
	{vertical-align} posicion
	
redondo(size)
	{border-radius} 50%
	{width} size
	{height} size
	
// Variables
$negro = #000000
$blanco = #ffffff
$grisPrin = #646469
$grisMed = #9B9B9B
$grisCl = #EEEEEE
$morado = #401465
$moradoAlt = #BB82D6
$naranja = #EF7521
$naranjaAlt = #F2AB79


$bc-facebook = #3b5998
$bc-twitter = #55acee
$bc-youtube = #cd201f
$bc-linkedin = #0077b5


rupture.desktop-cutoff = 1023px

a
	color inherit
	efecto(.35s)
	text-decoration none
	
	&:hover
		text-decoration none

*
	box-sizing border-box

.clearfix 
	clearfix()
body
	overflow hidden
body
html
	font-family 'Open Sans', helvetica, arial, sans-serif
	font-size 10px
	font-smoothing antialiased
	overflow-x hidden
	relative top left
	width 100%
	background-color $grisCl
	color $grisPrin
	
button
	background-color transparent
	border none
	cursor pointer
	&:focus
		outline 0

figure
	margin 0
.blanco
	color $blanco

.naranja
	color $naranja

.morado
	color $morado
	
@import "plantilla.styl"
@import "home.styl"