.top
	relative top left
	z-index 2
	padding-top 65px
	box-shadow 0 8px 12px rgba($negro, 0.3)
	&--nav
		fixed top left
		z-index 10
		width 100%
		padding 1.6em 1.4em
		background-color $grisCl
		clearfix()
		h1
			alinear(middle)
			margin-right 1.6em
			img
				max-width 100%
			span
				display none
				
	+above(690px)
		&--nav
			padding 1.2em 2em
	
	+above(1220px)
		&--nav
			padding 0 2em
			h1
				padding 1.2em 0
			
.navbar
	relative top left
	float right
	padding-top 1.5%
	&--link
		alinear(top)
		relative top left
		margin-right 2.6em
		a
			display block
			relative top left
			z-index 2
		img
		svg
			display block
			margin auto
			max-width 24px
		&:last-child
			margin-right 0
		span
			display none
			font-size 1.4em
			margin-top 1em
			text-align center
		
		+above(690px)
			a
				padding-top 5%
			&:last-child
				padding-top 2%
			span
				display block
			img
			svg
				max-width 100%
		
	+above(1220px)
		padding-top 0
		width 35%
		ul
			clearfix()
		&--link
			margin 0
			display block
			float left
			width 25%
			a
				padding 13% 5% 2.3em
			&:after
				content ''
				display block
				background-color $naranja
				width 100%
				height 0px
				absolute top left
				efecto(.2s)
				z-index 1
			path
				efecto(.35s)
			&:hover
				color $blanco
				path
					fill $blanco
				&:after
					height 100%
			&__navbtn
				cursor pointer
				transform translateY(20px)
				&:after
					display none
				&:hover
					path
						fill $naranja

.footer
	background-color $blanco
	padding 1.6em 1.2em
	&--logo
		img
			margin 0 auto
			display block
			max-width 85px
	&--privacy
		display block
		font-size 1.2em
		margin 0.8em 0
		text-align center
		text-decoration underline
	
	+above(1000px)
		text-align center
		&--privacy
		&--socialmedia
			alinear(middle)
			margin-top 2em
		
		&--privacy
			efecto(.35s)
			margin-right 3%
			&:hover
				color $morado
				text-decoration underline

.mainmenu
	fixed top left
	width 100%
	height 100%
	background-color rgba($naranja, .61)
	z-index 5
	display none
	efecto(.35s)
	&--container
		absolute top right
		width 80%
		height 100%
		background-color $grisCl
		box-shadow -8px 0 8px rgba($negro, .2)
		padding 5%
		efecto(.4s)
		transform translateX(100%)
		
		.btn-close
			absolute top 3% right 5%
		
		&__active
			transform translateX(0%)
	
	&--linklist
		padding-top 2em
		text-align right
		a
			display block
			padding 0.5em
			font-size 1.6em
			margin-bottom 0.5em
		>a
			font-size 1.2em
		.socialmedia
			text-align right
			li
				margin-right 3%
	
	+above(768px)
		&--container
			width 60%
			max-width 480px
			.lg-menu
				margin 0 auto
				display block
		&--linklist
			a
				font-size 2em
			>a
				font-size 1.2em
	
	+above(1220px)
		&--container
			padding 2% 4%
		&--linklist
			a
				font-size 2.4em
				padding-bottom 2vh
				margin-bottom 0
				efecto(.35s)
				&:hover
					color $morado
					transform scale(1.1)
			>a
				font-size 1.4em
			
			.socialmedia
				margin-top 1vh

@media only screen and (max-height: 575px) and (orientation: landscape)
	.mainmenu
		&--container
				width 65%
				padding 2% 5%
				.lg-menu
					display none
			
				.btn-close
					left 5%
			
			&--linklist
				padding-top 10px
				a
					font-size 1.4em
					margin-bottom 0
				
				ul
					alinear(top)
					&.socialmedia
						margin-left 5%
						padding-left 5%
						border-left 1px solid $grisMed
						li
							display block

.socialmedia
	relative top left
	margin-top 2em
	text-align center
	li
		alinear(middle)
		font-size 1.2em
		margin-right 2.3em
		&:last-child
			margin-right 0
			
	+above(1000px)
		li
			a
				display block
				svg
					efecto(.35s)
				&:hover
					svg
						transform scale(1.2)
						&.linkfb
							path
								fill $bc-facebook
						&.linktw
							path
								fill $bc-twitter
						&.linkin
							path
								fill $bc-linkedin
						&.linkyt
							path
								fill $bc-youtube
.tituloprin
	relative top left
	color $naranja
	font-weight 800
	font-size 2em
	text-align right
	span
		relative top left
		z-index 2
	
	+above(690px)
		font-size 3em
		span
			display block
			padding-left 50%
			text-align right
	
	+above(1220px)
		font-size 4.8em

.titulosec
	color $morado
	font-weight 800
	font-size 1.4em
	text-align right
	margin 9px 0
	+above(690px)
		font-size 2em
	+above(1220px)
		font-size 2.4em
		padding-top 0.5em

.subtitle
	font-size 1.8em
	font-weight 600
	margin-bottom 1em
	text-align center
	line-height 1.3em
	+above(767px)
		font-size 2.2em
	
	+above(1220px)
		font-size 2.8em
.txts
	font-size 1.2em
	line-height 1.3em
	+above(767px)
		font-size 1.4em

.modalvideo
	display none
	fixed top left
	width 100%
	height 100%
	background-color rgba($negro, 0.7)
	z-index 10
	
	&--container
		width 100%
		max-width 800px
		height 60vh
		max-height 600px
		background-color $grisCl
		box-shadow 0 0 12px $negro
		relative top 50% left 50%
		transform translate(-50%, -50%)
		.btn-close
			absolute top -50px right
			span
				color $blanco
			svg
				path
					fill $blanco
			&:hover
				span
					color $naranja
	&--frame
		height 100%
		iframe
			width 100%
			height 100%

.btn-send
	alinear(middle)
	font-family 'Open Sans', helvetica, arial, sans-serif
	font-weight 800
	font-size 1.4em
	color $naranja
	
	+above(1025px)
		font-size 1.6em
		efecto(.35s)
		&:hover
			color $morado

.btn-link
	display block
	relative top left
	text-align right
	margin-top 2.4em
	a
		color $naranja
		font-size 1.4em
		padding-right 27px
		relative top left
		z-index 2
	&:after
		content url('../img/ico-link.svg')
		absolute top -2px right
		z-index 1
		efecto(.35s)
	
	+above(1025px)
		&:hover
			a
				color $morado
			&:after
				transform translateX(4px)

.btn-close
	text-align center
	svg
		path
			efecto(.35s)
	span
		color $morado
		font-size 1.2em
		display block
	+above(1025px)
		&:hover
			svg
				path
					fill $naranja
			span
				color naranja
				
.select
	width 100%
	display block
	relative top left
	z-index 1
	border-bottom 2px solid $grisPrin
	margin-bottom 2.4em
	&:after
		content url('../img/ico-select.svg')
		absolute top 10px right 5px
		efecto(.35s)
	select
		display block
		background-color transparent
		border none
		relative top left
		z-index 2
		width 100%
		font-family 'Open Sans', helvetica, arial, sans-serif
		font-size 1.4em
		padding 0.4em 0
		color $grisPrin
		appearance none
		
		&:focus
			outline 0
	
	+above(1025px)
		cursor pointer
		&:hover
			&:after
				transform translateY(5px)

.input
	relative top left
	z-index 1
	alinear(top)
	margin 0 4.5% 0.5em 0
	width 47.5%
	overflow hidden
	font-size 2em
	&:nth-child(even)
		margin-right 0
	&--field
		relative top left
		display block
		float right
		border none
		border-radius 0
		color $grisPrin
		font-family 'Open Sans', helvetica, arial, sans-serif
		font-weight 600
		font-size 21px
		appearance none
		margin-top 1em
		padding 0.85em 0.15em
		width 100%
		height 55px
		background transparent

		&:focus
			outline none
			
				
	&--label
		alinear(middle)
		float right
		color $grisPrin
		font-weight 600
		font-size 70.25%
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		-webkit-touch-callout none
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		absolute bottom left
		padding 0 0.25em
		width 100%
		height calc(100% - 1em)
		text-align left
		pointer-events none
		&:after
		&:before
			content ''
			absolute top left
			width 100%
			height calc(100% - 10px)
			border-bottom 1px solid $grisMed
		&:after
			margin-top 0
			border-bottom 4px solid $naranja
			transform translate3d(-100%, 0, 0)
			transition transform 0.3s
			
	&--label-content
		absolute top left
		display block
		padding 1.6em 0
		width 100%
	
	&.required
		.input--label-content
			&:before
				content '*'
				color $naranja
				font-size 16px
				alinear(middle)
				margin-right 2%
	
	&.error
		.input--label
			&:after
				border-color red
		&:after
			content ''
			color red
			font-size 12px
			text-align right
			display block
			absolute bottom -9px right
	
	&--filled
		&.error
			overflow visible
			&:after
				content '*Este campo es obligatorio'

.input--field:focus + .input--label::after
.input--filled .input--label::after
	transform translate3d(0, 0, 0)
			
.input--field:focus + .input--label .input--label-content
.input--filled .input--label-content
	animation anim-1 0.3s forwards

.textarea
	display block
	relative top left
	margin 3em 4.5% 1em 0
	padding-bottom 12px
	overflow hidden
	width 100%
	&--label
		font-size 1.4em
		font-weight 600
		display block
		font-family 'Open Sans', helvetica, arial, sans-serif
		
		&:after
		&:before
			content ''
			absolute top left
			width 100%
			height calc(100% - 10px)
			border-bottom 1px solid $grisMed
		
		&:after
			margin-top 0
			border-bottom 4px solid $naranja
			transform translate3d(-100%, 0, 0)
			transition transform 0.3s
		
	&.required
		.textarea--label-content
			&:before
				content '*'
				color $naranja
				font-size 16px
				alinear(middle)
				margin-right 1%
	
	&--field
		-khtml-user-select none
		-moz-osx-font-smoothing grayscale
		-moz-user-select none
		-ms-user-select none
		-webkit-font-smoothing antialiased
		-webkit-touch-callout none
		-webkit-user-select none
		background transparent
		border none
		color $grisPrin
		display block
		font-size 21px
		font-weight 600
		padding 0.35em 0.15em 0
		relative top left
		text-align left
		user-select none
		width 100%
		resize none
		&:focus
			outline 0
	
	&.error
		.textarea--label
			&:after
				border-color red
		&:after
			color red
			font-size 12px
			text-align right
			display block
			absolute bottom -9px right

.input--field:focus + .textarea--label::after
.input--filled .textarea--label::after
	transform translate3d(0, 0, 0)
			
.input--field:focus + .textarea--label .textarea--label-content
.input--filled .textarea--label-content
	animation anim-1 0.3s forwards
	
.txtcontent
	resize none
	overflow hidden

.txtresizer
	display none
	white-space pre-wrap
	word-wrap break-word
	overflow-wrap break-word
	font-size 21px
	font-weight 600
	font-family 'Open Sans', helvetica, arial, sans-serif

.txtboth
	min-height 50px
	overflow hidden

.lbr
	line-height 3px

@keyframes anim-1
	50%
		opacity 0
		transform translate3d(1em, 0, 0)
		
	51%
		opacity 0
		transform translate3d(-1em, -40%, 0)

	100%
		opacity 1
		transform translate3d(0, -40%, 0)
