.about
	width auto
	max-width 930px
	margin 150px 20px 20px
	clearfix()
	+above(930px)
		width 100%
		margin 150px auto 20px
	figure
		+above(767px)
			col(4/12, gutter:8)
		img 
			width 100%
			height auto
			alinear(top)
			display none
			+above(767px)
				display block
	&__description
		+above(767px)
			col(8/12, gutter:8)
		p 
			font-size 1.4em
			line-height 150%
			& + p 
				margin-top 20px
		+above(767px)
			p
				font-size 1.6em
				
	&__services
		relative top left
		z-index 1
		padding 7.1em 1.2em 2.5em
		image: 'images/bg-servicios-about-mobile.jpg' 100%
		background-size 100%
		background-repeat no-repeat
		background-position 0 70%
		background-color $blanco
		+above(690px)
			background-image url('images/bg-servicios-about.jpg')
			background-position top
			padding-bottom 8em
			>.subtitle
				margin-bottom 3em
		+above(1000px)
			&__container
				max-width 1040px
				margin 0 auto
	&__benefits
		max-width 1040px
		display table
		margin 66px 20px 0
		clearfix()
		li 
			text-align center
			border-bottom solid 2px $negro
			p 
				padding 10px 15px
				font-size 1.4em
				line-height 150%
			&.security
				border-color $morado
			&.confort
				border-color $naranja
			&.clean
				border-color $moradoAlt
			&.access
				border-color $naranjaAlt
			& + li 
				margin-top 20px
		+above(767px)
			margin 66px auto 0
			li
				span(1/4)
				float none
				display table-cell
				text-align center
				& + li 
					margin-top 0px
				
		
.benefits_box
	background-color $blanco
	margin-bottom 2.4em
	padding-bottom 1.6em
	box-shadow 0 0px 8px hextorgba($negro, 0.3)
	.group_text
		padding 1.6em
	.btn-link
		margin 1.6em
	.subtitle
		text-align left
		margin-bottom 0.5em
		font-size 1.8em
	&__foto
		display none
	& + .benefits_box
		margin-top 200px
	.txts
		p 
			margin-bottom 20px
		ul 
			list-style disc
			margin-left 20px
			li 
				margin-bottom 10px
	
	+above(690px)
		alinear(top)
		width 45%
		margin 0 2% 2.5em
	+above(767px)
		.group_text
			padding 1.6em 2.5em
		.btn-link
			margin 2.5em 2.5em 1.6em 
		&__foto
			display block
			margin 0 0 1.2em 0
			img
				width 100%
		
		& + .benefits_box
			margin-top 12%
	
	+above(1220px)
		& + .benefits_box
			margin-top 17%
		.txts
			font-size 1.4em
.post-tips
	width calc(100% - 24px)
	margin 5% 12px
	clearfix()
	.load-more
		clear both
		display block
		margin: 30px 0 10px
		right 44%
		text-align: center
	.tip
		position relative
		.imagefill 
			absolute top right
			width 100px
			+above(767px)
				absolute bottom left
				top auto
				right auto
				width 100%
				
		figure
			height 100%
			min-height 100%
			img
				transition opacity 0.35s ease-in, transform 0.35s
			a
				display block
				width 100%
				height 100%
				&:after
					content ""
					display block
					width 100%
					height 100%
					position absolute
					background hextorgba($naranja, 0.3) url(images/ico-play.svg) no-repeat center center
					background-size 54px 54px
			+above(767px)
				height 252px
				min-height 252px
				a 
					&:after
						background-size auto
			+above(1200px)
				a:hover
					img
						transform scale(1.1)
		header
			margin 23px 120px 10px 20px
			h2
				color $naranja
				font-size 1.4em
				font-weight 600
				line-height 140%
				width 100%
			.entry-date
				color $morado
				font-size 1.2em
		.btn-link
			color $naranja
			absolute right 20px bottom 22px
			top auto
			left auto
		.entry-content
			margin 0 120px 22px 20px
			p
				+above(767px)
					font-size 1.2em
				+above(1200px)
					font-size 1.6em

	+above(767px)
		width 100%
		.tip
			header
				margin 23px 20px 10px
				h2 
					font-size 2.4em
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
			.entry-content
				margin 0 20px 22px
	+above(1200px)
		width 100%
		margin 5% 0
	
.tip
	margin-bottom 20px
	min-height 100px
	overflow hidden
	background $blanco
	box-shadow 0 2px 8px rgba(0,0,0,.3)
	+above(767px)
		float left
		height 383px
		margin-bottom 38px
		col(1/3, gutter:1.5, cycle: 3)

	