nav.post-tags
	margin 0 12px
	h3
		margin 60px 0 12px
		font-size 2em
		color $morado
		font-weight 600
	ul
		font-size 0
		margin-bottom 24px
		clearfix()
		li 
			font-size 1.2rem
			font-weight 600
			span(1/2)
			text-align center
			height 50px
			line-height 50px
			color $blanco
			text-transform uppercase
			background #9B9B9B
			&.hacks
				background $morado
			&.lifestyle
				background $moradoAlt
			&.news
				background $naranja
			&.cultura
				background $naranjaAlt
			a 
				display block
				position relative
				&.active:after
					content ""
					display block
					absolute left 50% bottom 0
					margin-left -10px
					border-color $grisCl transparent $grisCl transparent
					border-width 0px 10px 5px 10px
					border-style solid
			&:first-child
				width 100%
			+above(767px)
				span(1/5)
				text-align center
				&:first-child
					span(1/5)
					text-align center
	+above(767px)
		h3 
			font-size 2.8em
	+above(1236px)
		margin 0
		ul 
			margin-bottom 50px
				
.tagged-posts
	width calc(100% - 24px)
	margin 0 12px
	clearfix()
	.category
		&-hacks
			border-bottom solid 20px $morado
		&-lifestyle
			border-bottom solid 20px $moradoAlt
		&-news 
			border-bottom solid 20px $naranja
		&-cultura
			border-bottom solid 20px $naranjaAlt
	.grid-item
		.imagefill 
			position relative !important
		figure
			height 175px
			min-height 175px
			img
				transition opacity 0.35s ease-in, transform 0.35s
			+above(1200px)
				a:hover
					img
						transform scale(1.1)
		header
			margin 23px 20px
			h2
				color $naranja
				font-size 1.4em
				font-weight 600
				line-height 140%
				margin-bottom 8px
				width 100%
			.entry-date
				color $morado
				font-size 1.2em
		.btn-link
			color $naranja
			absolute right 20px bottom 22px
			top auto
			left auto
		.entry-content, .entry-summary
			margin 23px 20px 50px
			display none
			p
				+above(767px)
					font-size 1.2em
				+above(1200px)
					font-size 1.6em
		&:nth-of-type(6n+1), &:nth-of-type(6n-1)
			figure
				height 271px
				min-height 271px
				
			.entry-content, .entry-summary
				display block
	+above(767px)
		width 100%
		.grid-item
			.entry-content, .entry-summary
				margin 23px 20px
			header
				h2 
					font-size 2.4em
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
		.category
			&-hacks
				border-left solid 20px $morado
				border-bottom none
			&-lifestyle
				border-left solid 20px $moradoAlt
				border-bottom none
			&-news 
				border-left solid 20px $naranja
				border-bottom none
			&-cultura
				border-left solid 20px $naranjaAlt
				border-bottom none
	+above(1200px)
		width 103%
		margin 0
	
.grid-sizer, .grid-item
	width 100%
	+above(767px)
		width 48%
	+above(1220px)
		width 31%
.gutter-sizer
	+above(767px)
		width 2%
	+above(1220px)
		width 2%
.grid-item
	margin-bottom 38px
	height auto
	overflow hidden
	background $blanco
	box-shadow 0 2px 8px rgba(0,0,0,.3)
	+above(767px)
		float left
		height 276px
.grid-item:nth-of-type(6n+1), .grid-item:nth-of-type(6n-1)
	height auto
	width 100%
	+above(767px)
		width 48%
		height 590px
		float left
	+above(1220px)
		width 64%
		
.single-format-standard
	article
		position relative
		.entry-content
			color $grisMed
			background $blanco
			padding 40px 20px
			box-shadow 0px 5px 8px rgba(0,0,0,0.3)
			h1
				display none
				+above(1200px)
					display block
					text-align left
					color $naranja
					font-size 2em
					margin-bottom 20px
					text-transform uppercase
					font-weight 800
			p 
				line-height 140%
			p + p 
				margin-top 20px
			.post-categories
				background $naranja
				font-size 1.2em
				color $blanco
				padding 3px 5px
				alinear(middle)
				&.hacks
					background $morado
				&.lifestyle
					background $moradoAlt
				&.news
					background $naranja
				&.cultura
					background $naranjaAlt
			.entry-meta
				margin-bottom 18px
			.entry-date,.byline
				font-size 1.2em
				time, .author
					color $morado
			+above(1000px)
				col(7/10, gutter: 5)
		.sidebar
			margin 4% 5%
			h2
				color $naranja
				font-size 1.8em
				font-weight 600
			h3 
				color $blanco
				text-align right
				text-transform uppercase
				padding 4px 10px
				margin-top 20px
				font-size 1.2em
				font-weight 600
				&.hacks
					background $morado
				&.lifestyle
					background $moradoAlt
				&.news
					background $naranja
				&.cultura
					background $naranjaAlt
			article
				margin 10px 0
				border-bottom solid 1px $grisPrin
				padding-bottom 10px
				clearfix()
				figure 
					width 100px
					height 100px
					float left
					margin-right 15px
					img 
						width 100%
						height 100px
				h2 
					font-size 1.8em
					font-weight 600
					line-height 130%
					color $grisPrin
				.entry-meta
					absolute left 115px bottom 22px
					color $grisMed
					font-size 1.2em
				.btn-more
					color $naranja
					font-size 1.4em
					absolute right 10px bottom 22px
					efecto(.35s)
					i 
						font-size 1.6em
						color $naranja
						font-weight 600
						line-height 70%
						efecto(.35s)
					&:hover 
						color $morado
						i 
							transform translateX(4px)
						
				
			+above(1000px)
				margin 4% auto
				col(3/10, gutter: 5)
			
	header.entry-header
		padding 15em 5% 1em
		text-align left
		position relative
		+above(767px)
			padding 9.5em 5% 5.7em
			height 280px
			text-align right
			box-shadow 0 8px 12px hextorgba($negro, 0.3)
		h1 
			text-align left
			color $naranja
			font-size 2em
			text-transform uppercase
			font-weight 800
			alinear(bottom)
			+above(767px)
				text-align right
				font-size 3.8em
				max-width 70%
			+above(1200px)
				font-size 4.8em
				max-width 60%
			+above(1800px)
				max-width 40%
		h2 
			text-align right
			color $morado
			font-size 1.4em
			margin-top 1em
			font-weight 800
			line-height 120%
			alinear(bottom)
			+above(767px)
				font-size 2.4em
				max-width 450px

	.imagefill
		absolute top left
		height 280px
		min-height 280px
		z-index -1
		+below(480px)
			img 
				left -30% !important
		&:before
			content " "
			background linear-gradient(bottom, $grisCl, hextorgba($grisCl, 0));
			absolute bottom right
			display block
			width 100%
			height 100%
			z-index 9
		+above(767px)
			&:before
				background linear-gradient(right, 60% #e3e0e1, hextorgba($grisCl, 0));
				width 60%
				
.post-navigation
	max-width 1236px
	margin 0 20px
	+above(767px)
		margin 0 auto
		clearfix()
	.nav-links
		color $grisPrin
		font-size 0.75rem
		padding 20px 0
		margin-bottom 40px
		text-transform uppercase
		a 
			padding 10px 0
			display block
			line-height 150%
			span 
				display block
				font-size 1rem
				text-transform uppercase
				color $naranja
				efecto(0.35s)
				&:before, &:after
					color $naranja
					-webkit-font-smoothing antialiased
					-moz-osx-font-smoothing grayscale
					font-size 1.6em
					font-weight 600
					line-height 100%
					font-family 'Genericons'
					text-decoration inherit
					font-style normal
					alinear(middle)
					efecto(0.35s)
			&:first-child
				span
					&:before
						content "\f430"
						display inline-block
			& + a 
				span 
					&:after
						content '\f429'
				&:hover 
					span 
						&:after
							transform translateX(4px)
			&:hover 
				span 
					color $morado
					&:before 
						transform translateX(-4px)
		+above(767px)
			col(7/10, gutter: 5)
			a 
				span(1/2)
				padding 0
				& + a 
					text-align right
	