.tips_description
	margin 5% 0
	h3
		text-align center
		color $morado
		font-size 1.8em
		+above(1200px)
			font-size 2.8em
	p  
		text-align center
		margin-top 18px
		color $naranja
		font-size 1.8em
		+above(1200px)
			font-size 2.8em
.post-faqs
	width calc(100% - 24px)
	margin 5% 12px
	.faqs
		padding 1px
		position relative
		background $blanco
		margin-bottom 16px
		box-shadow 0 1px 2px hextorgba($negro, 0.8)
		.imagefill 
			absolute bottom left
			width 100%
		h2
			color $morado
			font-size 1.4em
			font-weight 600
			line-height 140%
			width 100%
			padding 0
			a 
				display block
				position relative
				padding 24px 72px 24px 24px
			.cd-faq-trigger::before, .cd-faq-trigger::after
				content ''
				position absolute
				right 24px
				top 50%
				height 2px
				width 13px
				background $naranja
				-webkit-backface-visibility hidden
				backface-visibility hidden
				transition transform 0.2s
  
			.cd-faq-trigger::before
				transform rotate(45deg)
				right 32px

			.cd-faq-trigger::after
				transform: rotate(-45deg)
		.btn-link
			color $naranja
			absolute right 20px bottom 22px
			top auto
			left auto
		.entry-content
			margin 0
			padding 0 24px 30px
			display none
			p
				+above(767px)
					font-size 1.2em
				+above(1200px)
					font-size 1.4em
		&.content-visible .cd-faq-trigger::before
			transform: rotate(-45deg);
		
		&.content-visible .cd-faq-trigger::after
			transform: rotate(45deg);

	+above(767px)
		width 100%
		.faqs
			h2 
				font-size 1.8em
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
	+above(1200px)
		width 100%
		margin 5% 0
	


	