@font-face 
    font-family 'icoustorage'
    src url('fonts/icoustorage.eot?5b62vv')
    src url('fonts/icoustorage.eot?5b62vv#iefix') format('embedded-opentype'), url('fonts/icoustorage.ttf?5b62vv') format('truetype'),url('fonts/icoustorage.woff?5b62vv') format('woff'), url('fonts/icoustorage.svg?5b62vv#icoustorage') format('svg')
    font-weight normal
    font-style normal


[class^="ico_"] a:before, [class*=" ico_"] a:before
    font-family 'icoustorage' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


.ico_calendar a:before
    content "\e900"

.ico_contact a:before
    content "\e901"

.ico_location a:before
    content "\e902"

.ico-nav:before
    content "\e903"
    
.ico_phone a:before
    content "\e904"
    
.ico_simulador a:before
    content "\e905"

