.slide
	position relative
	top 0
	left 0
	z-index 2
	&__bxslider
		li
			width 100%
			height 100%
			min-height 496px
			background $grisCl
			+above(1350px)
				min-height 90vh
		figure
			height 100%
			img 
				absolute right top
				width 100%
				height auto
			&:before
				content " "
				background linear-gradient(bottom, $grisCl 35%, hextorgba($grisCl, 0) 65%);
				absolute bottom left
				display block
				width 100%
				height 100%
				z-index 1
			+below(690px)
				img 
					left -100px !important
			+above(690px)
				padding-top 11em
			+above(767px)
				&:before
					display none
			+above(900px)
				padding 22em 5% 3em
			+above(1220px)
				padding-bottom 18em
			+above(1350px)
				min-height 90vh
		.bxslider
			absolute top right
			width 100%
			padding 28em 1.2em 3em
			z-index 9
			+above(690px)
				padding-top 25em
			+above(900px)
				padding 22em 5% 3em
			+above(1220px)
				padding-bottom 18em
			&__title
				color $naranja
				font-weight 800
				font-size 2em
				text-align right
				span
					relative top left
					z-index 2
				
				+above(690px)
					font-size 3em
					span
						display block
						padding-left 50%
						text-align right
				
				+above(1220px)
					font-size 4.8em
			&__info
				relative top left
				z-index 1
				&__form
					background $blanco
					padding 1.4em 2.4em 2.4em
					border-left 8px solid $naranja
					text-align right
					box-shadow 0 2px 4px hextorgba($negro, 0.3)
					display none
				&__tel
					background $blanco
					width 75%
					margin-left 25%
					padding 1.4em 2.4em 2.4em
					border-left 8px solid $naranja
					text-align right
					box-shadow 0 2px 4px hextorgba($negro, 0.3)
					display block
					h3
						display block
						text-align right
						color $grisPrin
						font-weight 800
						font-size 2em
						margin-bottom 10px
					a 
						color $naranja
				+above(690px)
					.select
						alinear(middle)
						width 45%
						margin-right 5%
						& + .select
							margin-right 0
				
				+above(767px)
					&__form
						padding 1.4em
						display block
					&__tel
						display none
						width 50%
						margin-left 50%
					.select
						width 70%
						margin-bottom 0
					.btn-send
						padding 0 3% 15px
				
				+above(900px)
					&__form
						width 66%
						margin-left 35%
					&__tel
						width 30%
						margin-left 70%
					.btn-send
						padding 0 3%
				
				+above(1220px)
					&__form
						width 40%
						margin-left 60%

			.titulosec
				color $morado
				font-weight 800
				font-size 1.4em
				text-align right
				margin 9px 0
				+above(690px)
					font-size 2em
				+above(1220px)
					font-size 2.4em
					padding-top 0.5em
.bx-wrapper
	position relative
	box-shadow 0 8px 12px hextorgba($negro, 0.3)
	.bx-controls-direction a
		display none
	.bx-pager
		absolute left bottom
		width 100%
		bottom 12px
		text-align center
		z-index 9999
		.bx-pager-item
			width 12px
			height 12px
			margin 0 5px
			alinear(middle)
			a
				display block
				width 12px
				height 12px
				background hextorgba($negro, 0.5)
				border-radius 50%
				text-indent -999999999px
				&.active
					background $naranja
	+above(1024px)
		.bx-pager
			display none
		.bx-prev
			left 0
		.bx-next
			right 0
		.bx-controls-direction a
			position absolute
			display block
			color $naranja
			font-size 64px
			top 50%
			margin-top -16px
			outline 0
			width 64px
			height 64px
			z-index 9999
			transform rotate(90deg)
			&.disabled
				display none
				

.subtitle
	font-size 1.8em
	font-weight 600
	margin-bottom 1em
	text-align center
	line-height 1.3em
	+above(767px)
		font-size 2.2em
	
	+above(1220px)
		font-size 2.8em
.txts
	font-size 1.2em
	line-height 1.3em
	+above(767px)
		font-size 1.4em



.home
	&__video
		relative top left
		z-index 1
		padding 3.5em 1.2em 5em
		color $blanco
		.subtitle
			text-align left
		.txts
			text-align justify
			max-width 513px
		.viewvideo
			display block
			margin 3.6em auto
			text-align center
			img
				width 60px
			span
				color $blanco
				font-size 1.2em
				text-align center
				font-weight 600
				display block
				margin-top 0.5em
		&__bg 
			absolute top left
			height 100%
			z-index -1
			position absolute !important
	&__services
		relative top left
		z-index 1
		padding 7.1em 1.2em 2.5em
		image: 'images/bg-servicios-mobile.jpg' 100%
		background-size 100%
		background-repeat no-repeat
		background-position top
		background-color $blanco
	
	&__benefits
		relative top left
		z-index 1
		padding 3em 1.2em
		background-color $blanco
		.subtitle
			padding-top 1.4em
			border-top 2px solid $grisCl
	
	&__contact
		padding 3.5em 1.2em
		.subtitle
			span
				display block
		> p
			font-size 1.4em
			text-align center
			margin-bottom 1em
			line-height 1.3em
	
	+above(690px)
		&__video
			div
				alinear(middle)
				width 49.4%
		&__services
			background-image url('images/bg-servicios.jpg')
			padding-bottom 8em
			>.subtitle
				margin-bottom 3em
	
	+above(767px)
		&__video
			padding 8%
		
		&__contact
			.btn-link
				display none
			
			.btn-send
				float right
				padding-top 1em
			.subtitle
				span
					display inline
	
	+above(1000px)
		&__services
			&__container
				max-width 1040px
				margin 0 auto
		
		&__contact
			padding-bottom 10em
			
	+above(1220px)
		&__video
			.viewvideo
				efecto(.35s)
				img
					width 118px
				span
					font-size 1.6em
				&:hover
					transform scale(1.1)
			
.service
	background-color $blanco
	margin-bottom 2.4em
	padding-bottom 1.6em
	box-shadow 0 0px 8px hextorgba($negro, 0.3)
	.group_text
		padding 1.6em
	.btn-link
		margin 1.6em
	.subtitle
		text-align left
		margin-bottom 0.5em
	&__foto
		display none
	
	+above(690px)
		alinear(top)
		width 45%
		margin 0 2% 2.5em
	+above(767px)
		.group_text
			padding 1.6em 2.5em
		.btn-link
			margin 2.5em 2.5em 1.6em 
		&__foto
			display block
			margin 1.2em 0
			img
				width 100%
		
		& + .service
			margin-top 12%
	
	+above(1220px)
		& + .service
			margin-top 15%
		.txts
			font-size 1.6em

.benefits
	relative top left
	&--icon
		alinear(middle)
		width 49%
		text-align center
		margin-bottom 3.4em
		a 
			display block
			efecto(0.35s)
			figure
				efecto(0.35s)
				&:hover
					transform scale(1.1)
			
		figure
			redondo(90px)
			alinear(middle)
			relative top left
			margin-bottom 1.4em
			img
				height 55%
				absolute top 50% left 50%
				transform translate(-50%, -50%)
		span
			display block
			font-size 1.8em
			text-align center
		&__security
			background-color $naranja
		&__confort
			background-color $naranjaAlt
		&__clean
			background-color $morado
		&__access
			background-color $moradoAlt
	
	+above(690px)
		text-align center
		&--icon
			width 24.6%
	
	+above(1000px)
		max-width 1040px
		margin auto
		padding 5em 0 0
		&--icon
			figure
				redondo(140px)
.home__contact
	.contactform
		display none
		+above(767px)
			display block
			width 100%
			max-width 900px
			margin 0 auto
.contacto
	.home__contact
		.contactform
			display block