.location
	.tab 
		width 100%
		background $naranja
		margin-bottom 1.5em
		clearfix()
		li 
			span(1/3)
			padding 12px 8px
			text-align center
			color $blanco
			font-size 1.2em
			font-weight 800
			a 
				display block
			&.active 
				background $morado
		+above(600px)
			display none
	.box-tab
		display none 
		+above(600px)
			display block
	.gmw-form-wrapper
		background $blanco
		width 100%
		border-left solid 10px $naranja
		padding 20px
		box-shadow 0 2px 4px hextorgba($negro, 0.3)
		position relative
		+above(1200px)
			width 70%
	div.gmw-pt-default-form-wrapper
		i.genericon-search
			font-size 3em
			width 25px
			height 20px
			alinear(middle)
		.gmw-unit-distance-wrapper
			display none
		.gmw-submit-wrapper
			alinear(middle)
			.gmw-submit
				cursor pointer
				border none
				background none
				color $naranja
				text-transform uppercase
				margin-left 20px
				font-size 1.6em
				font-weight 800
		.gmw-address-field-wrapper
			width 85%
		input[type="text"]
			width 100%
			font-size 1.6em
			border none
			border-bottom solid 2px $grisPrin
			padding 8px 30px 7px 10px
		div.gmw-locator-btn-within-wrapper
			color $naranja
			padding 5px 0
			i.gmw-locator-btn-within
				alinear(middle)
			span 
				padding-left 20px
				display none
			+above(767px)
				padding 5px 10px
				position relative
				absolute right 20px top 20px
				border solid 2px $naranja
				span 
					alinear(middle)
	.gmw-results-wrapper
		position relative
		.gmw-results-count
			background $blanco
			padding 10px 35px
			border-left solid 10px $naranja
			box-shadow 0 2px 4px hextorgba($negro, 0.3)
			z-index 10
			span 
				font-size 1.6em
			+above(767px)
				absolute right 20px top 20px
	+below(640px)
		.gmw-map-wrapper
			height 320px !important
		header.entry__header 
			.imagefill img
				left 0 !important
	+above(767px)
		header.entry__header
			padding 9.5em 5% 55em
		.entry-content
			margin 0 auto
			margin-top -55em
			position relative
			max-width 1200px
		div.gmw-pt-default-form-wrapper
			.gmw-address-field-wrapper
				width 50%
				position initial
			input[type="text"]
				margin 0
				width 100%
				padding 8px 10px 7px
				


.gmw-box-description
	width 100%
	padding 0
	position relative
	h3 
		color $naranja
		font-size 1.6em
		font-weight 600
		margin-bottom 1.2em
	p 
		margin-bottom 15px
	+above(767px)
		padding 3.3em 5.6em
		background $blanco
		box-shadow 0 2px 4px hextorgba($negro, 0.3)
.wppl-single-result
	display block
.gmw-box-gallery
	width 100%
	max-width 750px
	margin 20px auto
	.su-carousel, .su-slider
		width 100%
		margin-bottom 0
	.wppl-info
		width 100%
	+above(600px)
		.su-carousel, .su-slider
			max-width 50%
			span(1/2)
		.wppl-info
			span(1/2)
.gmw-posts-wrapper
	max-width 930px
	width 100%
	margin 35px auto
	h2
		color $morado
		text-align center
		font-weight 600
		font-size 1.8em
		text-transform uppercase
		+above(767px)
			font-size 2.8em
			
.wppl-single-result 
	.wppl-info
		h4 
			color $naranja
			font-size 1.6em
			font-weight 600
			margin-bottom 0.5em
	.get-directions-link
		text-transform uppercase
	.wppl-address
		p 
			font-size 1.4em
	.opening-hours
		margin-top 1em
		.opening-hours-wrapper
			li 
				padding 5px 0
				
	.wppl-promo
		margin-top 1em
		p 
			font-size 1.4em
		
	.phone
		margin-top 1em
		.label
			display block
			color $naranja
			font-size 1.6em
			font-weight 600
			margin-bottom 0.5em
.su-slider-pagination span
	border-radius 0 !important	