body.is-reveal-open
    overflow hidden


.reveal
    display none
    z-index 1006
    padding 1rem
    border 1px solid #cacaca
    background-color #fefefe
    border-radius 3px
    position relative
    top 100px
    margin-left auto
    margin-right auto
    &.small, &.medium, &.large, &.xlarge
       width 90%
       top 15px
       left 50%
       margin-left -45%
       padding 2px
       height auto
       .entry-content
            max-height 200px
            padding 1px
            overflow-y auto
    *:first-child
        margin-top 0
    
    &.reveal.without-overlay
        position fixed
    .row
        min-width 0
        margin-bottom 10px
    &.full
        top 0
        left 0
        width 100%
        height 100%
        height 100vh
        min-height 100vh
        max-width none
        margin-left 0
        border 0
        border-radius 0
    .close-button
        font-size 3rem
        line-height .5
        position absolute
        top -50px
        right 0
        color $blanco
        font-weight 200
        cursor pointer
        &:before 
            content "Cerrar"
            font-size 0.8rem
            absolute right bottom -10px
            display block
            color $blanco
            
    +above(767px)
        width 100%
        max-width 100%
        &.small
            width 30%
            margin-left -15%
        &.medium
            width 40%
            margin-left -20%
            .entry-content
                max-height 600px
                padding 0
                overflow-y hidden
        &.large
            width 60%
            margin-left -30%
        &.xlarge
            width 70%
            margin-left -35%
        &.expand
            width 90%
            margin-left -45%;
    
    
.reveal-overlay
    background $negro
    background hextorgba($negro, 0.45)
    bottom 0
    display none
    left 0
    position fixed
    right 0
    top 0
    z-index 1004
    left 0


.flex-video
    position relative
    padding-top 25px
    padding-bottom 67.5%
    height 0
    margin-bottom 0
    overflow hidden
    &.widescreen 
        padding-bottom 57.25%
    &.vimeo
        padding-top 0
    iframe, object, embed, video
        position absolute
        top 0
        left 0 
        width 100% 
        height 100%
    