.site
	max-width 100%
	min-height 100%
	position relative
	margin: 0 auto

.top
	relative top left
	z-index 99
	&__nav
		fixed top left
		z-index 10
		width 100%
		padding 1.6em 1.4em
		background-color $grisCl
		clearfix()
		h1
			alinear(middle)
			margin-right 1.6em
			img
				max-width 100%
			span
				display none
				
	+above(690px)
		&__nav
			padding 1.2em 2em
	
	+above(1220px)
		&__nav
			padding 0 2em
			h1
				padding 1.2em 0

			
.menu-top-header-container
	relative top left
	float right
	li
		alinear(top)
		relative top left
		margin-right 2.6em
		a
			display block
			relative top left
			z-index 2
			&:before
				text-align center
				display block
				color $morado
				font-size 2.2em
		span
			display none
			font-size 1.4em
			margin-top 1em
			text-align center
			text-transform uppercase
			
		&.ico_contact
			display none
		
		+above(690px)
			&.ico_contact
				alinear(top)
			&.ico_phone
				display none
			a
				padding-top 5%

			span
				display block
		
	+above(1220px)
		padding-top 0
		width 35%
		ul
			clearfix()
		li
			margin 0
			display block
			float left
			width 33.33%
			a
				padding 13% 5% 2.3em
			
			&:after
				content ''
				display block
				background-color $naranja
				width 100%
				height 0px
				absolute top left
				efecto(.2s)
				z-index 1
			&.current-menu-item
				color $blanco
				&:after
					height 100%
				path
					fill $blanco
				a:before
					color $blanco
			
			&:hover
				color $blanco
				path
					fill $blanco
				&:after
					height 100%
				a:before
					color $blanco
a.navbtn
	margin-right 0
	float right
	alinear(top)
	relative top left
	margin-right 0
	img
	svg
		display block
		margin auto
		max-width 24px
	+above(690px)
		padding-top 2%
		margin-right 2.6em
		img
		svg
			max-width 100%
	+above(1220px)
		margin 0
		display block
		float right
		width 10%
		cursor pointer
		padding-top 1%
		transform translateY(20px)
		path
			efecto(.35s)
		&:hover
			path
				fill $naranja
.imagefill
	width 100%
	min-height 100%
	img 
		opacity 0
		transition opacity 0.35s ease-in
.site__main
	padding-top 62px
	+above(690px)
		padding-top 90px
		padding-bottom 128px
header.entry__header
	padding 15em 5% 1em
	text-align right
	position relative
	+above(767px)
		padding 9.5em 5% 5.7em
		box-shadow 0 8px 12px hextorgba($negro, 0.3)
	.imagefill
		absolute top left
		z-index -1
		+below(640px)
			img 
				left -30% !important
		&:before
			content " "
			background linear-gradient(bottom, $grisCl 25%, hextorgba($grisCl, 0));
			absolute bottom left
			display block
			width 100%
			height 100%
			z-index 9
		+above(767px)
			&:before
				display none
	h1 
		text-align right
		color $naranja
		font-size 2em
		text-transform uppercase
		font-weight 800
		+above(767px)
			font-size 4.8em
	h2 
		text-align right
		color $morado
		font-size 1.4em
		margin-top 1em
		font-weight 800
		line-height 120%
		alinear(bottom)
		+above(767px)
			font-size 2.4em
			max-width 450px
			
	.video-container
		margin 28px auto -150px
		width 100%
		position relative
		padding-bottom 38%
		padding-top 30px
		height 0
		overflow hidden
		iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%
		+above(992px)
			width 70%
			min-width 930px

.footer
	background-color $blanco
	padding 1.6em 1.2em
	&__logo
		img
			margin 0 auto
			display block
			max-width 85px
	&__privacy
		display block
		font-size 1.2em
		margin 0.8em 0
		text-align center
		text-decoration underline
	&--socialmedia
		i 
			font-size 1.8em
	
	+above(1000px)
		text-align center
		position absolute
		bottom 0
		width 100%
		&__privacy
		&__socialmedia
			alinear(middle)
			margin-top 2em
		
		&__privacy
			efecto(.35s)
			margin-right 3%
			&:hover
				color $morado
				text-decoration underline

.mainmenu
	fixed top left
	width 100%
	height 100%
	background-color hextorgba($naranja, 0.6)
	z-index 200
	display none
	efecto(.35s)
	&__container
		absolute top right
		width 80%
		height 100%
		background-color $grisCl
		box-shadow -8px 0 8px hextorgba($negro, 0.2)
		padding 5%
		efecto(.4s)
		transform translateX(100%)
		
		.btn-close
			absolute top 3% right 5%
		
		&--active
			transform translateX(0%)
	
	&__linklist
		padding-top 2em
		text-align right
		a
			display block
			padding 0.5em
			font-size 1.6em
			margin-bottom 0.5em
			text-transform uppercase
			i 
				font-size 0.85em
		>a
			font-size 1.2em
		.socialmedia
			text-align right
			li
				margin-right 3%
	
	+above(768px)
		&__container
			width 60%
			max-width 480px
			.lg-menu
				margin 0 auto
				display block
		&__linklist
			li
				a
					font-size 2em
			>a
				font-size 1.2em
	
	+above(1220px)
		&__container
			padding 2% 4%
		&__linklist
			li
				a
					font-size 2.4em
					padding-bottom 2vh
					margin-bottom 0
					efecto(.35s)
					&:hover
						color $morado
						transform scale(1.1)
				&.current-menu-item
					a
						color $morado
						transform scale(1.1)
			>a
				font-size 1.4em
			
			.socialmedia
				margin-top 1vh
				
.entry-content, .entry-summary
	margin 4% 5%
	p 
		font-size 1.2em
		line-height 120%
		strong 
			font-weight 800
		+above(767px)
			font-size 1.6em
			line-height 150%
		

@media only screen and (max-height: 575px) and (orientation: landscape)
	.mainmenu
		&__container
				width 65%
				padding 2% 5%
				.lg-menu
					display none
			
				.btn-close
					left 5%
			
			&__linklist
				padding-top 10px
				a
					font-size 1.4em
					margin-bottom 0
				
				ul
					alinear(top)
					&.socialmedia
						margin-left 5%
						padding-left 5%
						border-left 1px solid $grisMed
						li
							display block

.socialmedia
	relative top left
	margin-top 2em
	text-align center
	li
		alinear(middle)
		font-size 1.2em
		margin-right 2.3em
		&:last-child
			margin-right 0
			
	+above(1000px)
		li
			a
				display block
				svg
					efecto(.35s)
				&:hover
					transform scale(1.1)
	


.modalvideo
	display none
	fixed top left
	width 100%
	height 100%
	background-color hextorgba($negro, 0.7)
	z-index 10
	
	&--container
		width 100%
		max-width 800px
		height 60vh
		max-height 600px
		background-color $grisCl
		box-shadow 0 0 12px $negro
		relative top 50% left 50%
		transform translate(-50%, -50%)
		.btn-close
			absolute top -50px right
			span
				color $blanco
			svg
				path
					fill $blanco
			&:hover
				span
					color $naranja
	&--frame
		height 100%
		iframe
			width 100%
			height 100%

.btn-send
	alinear(middle)
	font-family 'Open Sans', helvetica, arial, sans-serif
	font-weight 800
	font-size 1.4em
	color $naranja
	background-color transparent
	border none
	cursor pointer
	text-transform uppercase
	+above(1025px)
		font-size 1.6em
		efecto(.35s)
		&:hover
			color $morado

.btn-link
	display block
	relative top left
	text-align right
	margin-top 2.4em
	a
		color $naranja
		font-size 1.4em
		padding-right 27px
		relative top left
		z-index 2
	&:after
		content url('images/ico-link.svg')
		absolute top -2px right
		z-index 1
		efecto(.35s)
	
	+above(1025px)
		&:hover
			a
				color $morado
			&:after
				transform translateX(4px)

.btn-close
	text-align center
	svg
		path
			efecto(.35s)
	span
		color $morado
		font-size 1.2em
		display block
	+above(1025px)
		&:hover
			svg
				path
					fill $naranja
			span
				color naranja

div.wpcf7-form-control-wrap 
	alinear(top)
	margin 0 2% 0.5em 2%
	width 96%
	+above(767px)
		margin 0 0 0.5em 0
		width 47.5%
.select
	width 100%
	display block
	relative top left
	z-index 1
	border-bottom 2px solid $grisPrin
	margin-bottom 2.4em
	&:after
		content url('images/ico-select.svg')
		absolute top 10px right 5px
		efecto(.35s)
	select
		display block
		background-color transparent
		border none
		relative top left
		z-index 2
		width 100%
		font-family 'Open Sans', helvetica, arial, sans-serif
		font-size 1.4em
		padding 0.4em 0
		padding-right 20px
		color $grisPrin
		appearance none
		
		&:focus
			outline 0
	
	+above(1025px)
		cursor pointer
		&:hover
			&:after
				transform translateY(5px)

.input
	relative top left
	z-index 1
	alinear(top)
	margin 0 2% 0.5em 2%
	width 96%
	overflow hidden
	font-size 2em
	padding 0 0 8px
	&:nth-child(even)
		margin-right 0
	+above(767px)
		margin 0 4.5% 0.5em 0
		width 47.5%
	&--field
		relative top left
		display block
		float right
		border none
		border-radius 0
		color $grisPrin
		font-family 'Open Sans', helvetica, arial, sans-serif
		font-weight 600
		font-size 1em
		appearance none
		margin-top 1em
		padding 0.85em 0.15em
		width 100%
		height 55px
		background transparent

		&:focus
			outline none
			
				
	&--label
		alinear(middle)
		float right
		color $grisPrin
		font-weight 600
		font-size 70.25%
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		-webkit-touch-callout none
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		absolute bottom left
		padding 0 0.25em
		width 100%
		height calc(100% - 1em)
		text-align left
		pointer-events none
		&:after
		&:before
			content ''
			absolute top left
			width 100%
			height calc(100% - 18px)
			border-bottom 1px solid $grisMed
		&:after
			margin-top 0
			border-bottom 4px solid $naranja
			transform translate3d(-100%, 0, 0)
			transition transform 0.3s
			
	&--label-content
		absolute top left
		display block
		padding 1.6em 0
		width 100%
	
	&.required
		.input--label-content
			&:before
				content '*'
				color $naranja
				font-size 16px
				alinear(middle)
				margin-right 2%
	
	&.error
		.input--label
			&:after
				border-color red
		&:after
			content ''
			color red
			font-size 12px
			text-align right
			display block
			absolute bottom -9px right
	.wpcf7-not-valid-tip
		color red
		font-size 12px
		text-align right
		display block
		absolute bottom -5px right
	.wpcf7-form-control-wrap
		height 84px
		display block
	&--accept
		margin-right 4.5% !important
		.wpcf7-form-control-wrap
			height auto
			alinear(middle)
		.wpcf7-not-valid-tip
			position relative
			bottom 0
		&_terms
			alinear(middle)
			font-size 0.7em
		p
			font-size 0.7em
			margin-top 1em
			margin-left 2.8em
	
	&--filled
		&.error
			overflow visible
			&:after
				content '*Este campo es obligatorio'

.input--field:focus + .input--label::after
.input--filled .input--label::after
	transform translate3d(0, 0, 0)
			
.input--field:focus + .input--label .input--label-content
.input--filled .input--label-content
	animation anim-1 0.3s forwards
	
.input__select
	relative top left
	z-index 1
	alinear(top)
	margin 0 2% 0.5em 2%
	width 96%
	overflow hidden
	font-size 2em
	padding 0 0 8px
	&:nth-child(even)
		margin-right 0
	&:after
		content url('images/ico-select.svg')
		absolute bottom 35px right 5px
		efecto(.35s)
	+above(767px)
		margin 0 4.5% 0.5em 0
		width 47.5%
	&--field
		relative top left
		display block
		float right
		border none
		border-radius 0
		color $grisPrin
		font-family 'Open Sans', helvetica, arial, sans-serif
		font-weight 600
		font-size 1em
		appearance none
		margin-top 1em
		padding 0em 0.15em
		width 100%
		height 55px
		background transparent

		&:focus
			outline none
			
				
	&--label
		alinear(middle)
		float right
		color $grisPrin
		font-weight 600
		font-size 70.25%
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		-webkit-touch-callout none
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		absolute bottom left
		padding 0 0.25em
		width 100%
		height calc(100% - 1em)
		text-align left
		pointer-events none
		&:after
		&:before
			content ''
			absolute top left
			width 100%
			height calc(100% - 18px)
			border-bottom 1px solid $grisMed
		&:after
			margin-top 0
			border-bottom 4px solid $naranja
			transform translate3d(-100%, 0, 0)
			transition transform 0.3s
			
	&--label-content
		absolute top left
		display block
		padding 1.6em 0
		width 100%
	
	&.required
		.input--label-content
			&:before
				content '*'
				color $naranja
				font-size 16px
				alinear(middle)
				margin-right 2%
	
	&.error
		.input--label
			&:after
				border-color red
		&:after
			content ''
			color red
			font-size 12px
			text-align right
			display block
			absolute bottom -9px right
	.wpcf7-not-valid-tip
		color red
		font-size 12px
		text-align right
		display block
		absolute bottom -5px right
	.wpcf7-form-control-wrap
		height 84px
		display block
	&--accept
		.wpcf7-form-control-wrap
			height auto
			alinear(middle)
		.wpcf7-not-valid-tip
			position relative
			bottom 0
		&_terms
			alinear(middle)
			font-size 0.7em
		p
			font-size 0.7em
			text-align center
	
	&--filled
		&.error
			overflow visible
			&:after
				content '*Este campo es obligatorio'

.input--field:focus + .input__select--label::after
.input--filled .input__select--label::after
	transform translate3d(0, 0, 0)
			
.input--field:focus + .input__select--label .input__select--label-content
.input--filled .input__select--label-content
	animation anim-1 0.3s forwards

.textarea
	display block
	relative top left
	margin 3em 4.5% 1em 0
	padding-bottom 12px
	overflow hidden
	width 100%
	padding 0 0 8px
	&--label
		font-size 1.4em
		font-weight 600
		display block
		font-family 'Open Sans', helvetica, arial, sans-serif
		
		&:after
		&:before
			content ''
			absolute top left
			width 100%
			height calc(100% - 18px)
			border-bottom 1px solid $grisMed
		
		&:after
			margin-top 0
			border-bottom 4px solid $naranja
			transform translate3d(-100%, 0, 0)
			transition transform 0.3s
		
	&.required
		.textarea--label-content
			&:before
				content '*'
				color $naranja
				font-size 16px
				alinear(middle)
				margin-right 1%
	
	&--field
		-khtml-user-select none
		-moz-osx-font-smoothing grayscale
		-moz-user-select none
		-ms-user-select none
		-webkit-font-smoothing antialiased
		-webkit-touch-callout none
		-webkit-user-select none
		background transparent
		border none
		color $grisPrin
		display block
		font-size 21px
		font-weight 600
		padding 0.35em 0.15em 0
		relative top left
		text-align left
		user-select none
		width 100%
		resize none
		&:focus
			outline 0
	.wpcf7-not-valid-tip
		color red
		font-size 12px
		text-align right
		display block
		absolute bottom -5px right
	.wpcf7-form-control-wrap
		display block
	
	&.error
		.textarea--label
			&:after
				border-color red
		&:after
			color red
			font-size 12px
			text-align right
			display block
			absolute bottom -9px right
			
input[type=radio], input[type=checkbox]
	display none
.input--checkbox:before, .input--radio:before
	content ""
	alinear(middle)
	width 16px
	height 16px
	margin-right 10px
	background-color $blanco
	border solid 2px $grisMed
	efecto(0.4)
.input--radio:before
	border-radius 8px
	
.input--checkbox:before, .input--radio:before
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	line-height 1
	font-family 'Genericons'
	text-decoration inherit
	font-weight normal
	font-style normal
	
.active--input + .input--checkbox:before
	content "\f418"
	color $naranja
	font-size 16px
	text-align center
	line-height 18px
	border solid 2px $naranja
	
.active--input + .input--radio:before
	content "\2022"
	color #f3f3f3
	font-size 30px
	text-align center
	line-height 18px



.input--field:focus + .textarea--label::after
.input--filled .textarea--label::after
	transform translate3d(0, 0, 0)
			
.input--field:focus + .textarea--label .textarea--label-content
.input--filled .textarea--label-content
	animation anim-1 0.3s forwards
	
.txtcontent
	resize none
	overflow hidden

.txtresizer
	display none
	white-space pre-wrap
	word-wrap break-word
	overflow-wrap break-word
	font-size 21px
	font-weight 600
	font-family 'Open Sans', helvetica, arial, sans-serif

.txtboth
	min-height 50px
	overflow hidden

.lbr
	line-height 3px
	

div.wpcf7-response-output
	margin 2em 0em 1em
	padding 1em
	border-radius 3px
div.wpcf7-validation-errors
	font-size 1.2em
	border 1px solid red
	background hextorgba(red, 0.5)
	color $blanco
	
.site
	+above(1000px)
		&__container
			max-width 1236px
			margin 0 auto


@keyframes anim-1
	50%
		opacity 0
		transform translate3d(1em, 0, 0)
		
	51%
		opacity 0
		transform translate3d(-1em, -40%, 0)

	100%
		opacity 1
		transform translate3d(0, -40%, 0)
