.promo_description
	margin 5% 0
	h3
		text-align center
		color $morado
		font-size 1.8em
		+above(1200px)
			font-size 2.8em
	p  
		text-align center
		margin-top 18px
		font-size 1.6em
				
.post-promo
	width calc(100% - 24px)
	margin 0 12px
	clearfix()
	.promos
		position relative
		.imagefill 
			position relative !important
		figure
			height 175px
			min-height 175px
			img
				transition opacity 0.35s ease-in, transform 0.35s
			+above(1200px)
				a:hover
					img
						transform scale(1.1)
		header
			margin 23px 20px
			h2
				color $naranja
				font-size 1.4em
				font-weight 600
				line-height 140%
				margin-bottom 8px
				width 100%
			.entry-date
				color $morado
				font-size 1.2em
		.btn-link
			color $naranja
			absolute right 20px bottom 22px
			top auto
			left auto
		.entry-content
			margin 23px 20px 50px
			p
				+above(767px)
					font-size 1.2em
				+above(1200px)
					font-size 1.6em
	+above(767px)
		width 100%
		.promos
			.entry-content
				margin 23px 20px
			header
				h2 
					font-size 2.4em
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
	+above(1200px)
		width 103%
		margin 0
	
.promos
	margin-bottom 38px
	height 383px
	overflow hidden
	background $blanco
	box-shadow 0 2px 8px rgba(0,0,0,.3)
	+above(767px)
		float left
		col(1/3, gutter:1.5, cycle: 3)
		

				
.modalreveal
	position relative
	.imagefill 
		position relative !important
	figure
		height 175px
		min-height 175px
		img
			transition opacity 0.35s ease-in, transform 0.35s
		+above(1200px)
			a:hover
				img
					transform scale(1.1)
	header
		margin 23px 20px
		h2
			color $naranja
			font-size 1.4em
			font-weight 600
			line-height 140%
			margin-bottom 8px
			width 100%
		.entry-date
			color $morado
			font-size 1.2em
	.btn-link
		color $naranja
		absolute right 20px bottom 22px
		top auto
		left auto
	.entry-content
		margin 23px 20px 50px
		p
			+above(767px)
				font-size 1.2em
			+above(1200px)
					font-size 1.6em
	+above(767px)
		.entry-content
			margin 23px 20px
		header
			h2 
				font-size 2.4em
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
	