
.list_service
	padding 7.1em 1.2em 2.5em
	&_content
		background-color $blanco
		margin-bottom 2.4em
		padding-bottom 1.6em
		box-shadow 0 0px 8px hextorgba($negro, 0.3)
		.group_text
			padding 1.6em
		.btn-link
			margin 1.6em
		.subtitle
			text-align left
			margin-bottom 0.5em
		&__foto
			display block
			margin 0 0 1.2em
			img
				width 100%
		.txts
			p 
				line-height 140%
				margin-bottom 20px
				b
					color $naranja
			ul
				list-style-type disc
				padding-left 2em
		+above(690px)
			alinear(top)
			width 45%
			margin 0 2% 2.5em
		+above(767px)
			.group_text
				padding 1.6em 2.5em
			.btn-link
				margin 2.5em 2.5em 1.6em 
			
			& + .list_service_content
				margin-top 12%
		
		+above(1220px)
			& + .list_service_content
				margin-top 15%
			.txts
				font-size 1.4em
				
.servicios
	.home__benefits
		h4 
			border none
	