//Consola:
// stylus -w -c -u nib -u rupture -u jeet master.styl -o ../css

/*
Theme Name: U-Storage
Author: IA
Author URI: https://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: ustorage

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


@import 'nib'
@import 'rupture'
@import 'jeet'
@import "font.styl"


global-reset()

// Mixins
efecto(duracion)
	{transition} all duracion ease-in

alinear(posicion)
	{display} inline-block
	{vertical-align} posicion
	
redondo(size)
	{border-radius} 50%
	{width} size
	{height} size
	
hextorgba(color, alpha)
	rgba(red(color), green(color), blue(color), alpha)
	
// Variables
$negro = #000000
$blanco = #ffffff
$grisPrin = #646469
$grisMed = #9B9B9B
$grisCl = #EEEEEE
$morado = #401465
$moradoAlt = #BB82D6
$naranja = #EF7521
$naranjaAlt = #F2AB79


$bc-facebook = #3b5998
$bc-twitter = #55acee
$bc-youtube = #cd201f
$bc-linkedin = #0077b5


rupture.desktop-cutoff = 1023px

a
	color inherit
	efecto(.35s)
	text-decoration none
	
	&:hover
		text-decoration none

*
	box-sizing border-box

.clearfix 
	clearfix()
	
html
	font-size 100%
	-webkit-box-sizing border-box
	box-sizing border-box
body
	font-family 'Open Sans', helvetica, arial, sans-serif
	font-size 10px
	font-smoothing antialiased
	overflow-x hidden
	relative top left
	width 100%
	background-color $grisCl
	color $grisPrin
html,body
	height 100%
	
button
	background-color transparent
	border none
	cursor pointer
	&:focus
		outline 0

figure
	margin 0
.blanco
	color $blanco

.naranja
	color $naranja

.morado
	color $morado
	
@import "plantilla.styl"
@import "home.styl"
@import "about.styl"
@import "location.styl"
@import "servicios.styl"
@import "blog.styl"
@import "tips.styl"
@import "faqs.styl"
@import "promo.styl"
@import "modal.styl"