.tips_description
	margin 5% 0
	h3
		text-align center
		color $morado
		font-size 1.8em
		+above(1200px)
			font-size 2.8em
	p  
		text-align center
		margin-top 18px
		font-size 1.6em
.post-tips
	width calc(100% - 24px)
	margin 5% 12px
	clearfix()
	.load-more
		clear both
		display block
		margin: 30px 0 10px
		right 44%
		text-align: center
	.tip
		position relative
		.imagefill 
			absolute top right
			width 100px
			+above(767px)
				absolute bottom left
				top auto
				right auto
				width 100%
				
		figure
			height 100%
			min-height 100%
			img
				transition opacity 0.35s ease-in, transform 0.35s
			a
				display block
				width 100%
				height 100%
				&:after
					content ""
					display block
					width 100%
					height 100%
					position absolute
					background hextorgba($naranja, 0.3) url(images/ico-play.svg) no-repeat center center
					background-size 54px 54px
			+above(767px)
				height 252px
				min-height 252px
				a 
					&:after
						background-size auto
			+above(1200px)
				a:hover
					img
						transform scale(1.1)
		header
			margin 23px 120px 10px 20px
			h2
				color $naranja
				font-size 1.4em
				font-weight 600
				line-height 140%
				width 100%
			.entry-date
				color $morado
				font-size 1.2em
		.btn-link
			color $naranja
			absolute right 20px bottom 22px
			top auto
			left auto
		.entry-content
			margin 0 120px 22px 20px
			p
				+above(767px)
					font-size 1.2em
				+above(1200px)
					font-size 1.6em

	+above(767px)
		width 100%
		.tip
			header
				margin 23px 20px 10px
				h2 
					font-size 2.4em
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
			.entry-content
				margin 0 20px 22px
	+above(1200px)
		width 100%
		margin 5% 0
	
.tip
	margin-bottom 20px
	min-height 100px
	overflow hidden
	background $blanco
	box-shadow 0 2px 8px rgba(0,0,0,.3)
	+above(767px)
		float left
		height 383px
		margin-bottom 38px
		col(1/3, gutter:1.5, cycle: 3)

	